header {
    z-index: 10;
    position: fixed;
    top: 0;
    background-color: #161616;
    height: 40px;
    width: 100%;
}

#header-logo {
    font-size: 20px;
    font-weight: lighter;
    line-height: 40px;
    color: white;
    float: left;
    height: 50px;
    padding: 0 10px;
    margin: 0 25px;
    text-align: center;
}

#header-logo > span {
    font-weight: bold;
    color: rgb(8, 218, 120)
}
#header-items {
    float: right;
    display: flex;
    line-height: 40px;
    height: 40px;
    justify-content: center;
}
#header-items li {
    color: #fff;
    font-weight: bolder;
    list-style: none;
    margin-right: 15px;
}